.feedbackList{
    display: flex;
    align-items: center;
    gap: 20px;
}

.feedbackBtn{
    cursor: pointer;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;

    transition: background-color 500ms ease-in-out;
    transition: color 500ms ease-in-out;
    
    &:hover{
        color: aliceblue;
        background-color: blue;
    }
}